body {
	background-color: #e6e6e6;
}

#main {
	height: 80vh;
	text-align: center;
}

#loading-div {
	position: relative;
	font-size: 3em;
	font-weight: 700;
}

#menu {
	text-align: center;
	position: absolute;
	visibility: hidden;
	width: 100%;
}

.menu-item {
	cursor: pointer;
	padding: 1em;
	background-color: blue;
	color:white;
	border-radius: 6px;
	border: 1px solid black;
	font-size: 1.5em;
}

#reset-button {
	float: left;
	visibility: hidden;
	display: inline-block;
	margin-left: 1em;
}

#start-button {
	display: inline-block;
	margin-left: -5em;
}

#question-answer-container {
	visibility: hidden;
}

#question {
	padding: 1em;
	margin: 1em;
	background-color: #afadff;
	color: black;
	width: 40%;
	border-radius: 6px;
	margin: 0 auto;
	margin-bottom: 2em;
	border: 1px solid black;
}

.answer-item {
	padding: 1em;
	background-color: cyan;
	border-radius: 6px;
	margin: 0.5em;
	cursor: pointer;
	border: 1px solid black;
}

#status {
	visibility: hidden;
	padding: 1em;
	width: 20%;
	border-radius: 6px;
	text-align: center;
	color: black;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	top: 6em;
}

#stats {
	width: 15%;
	visibility: hidden;
	text-align: left;
	right: 0;
	position: absolute;
	top: 0;
	border-left: 2px solid;
	border-bottom: 2px solid;
	border-bottom-left-radius: 6px;
	padding-left: 1em;
	background-color: #96b1eb;
}

.help-item {
	padding: 1em;
	margin: 1em;
	background-color: #ffd6a1;
	border-radius: 6px;
	text-align: center;
	cursor: pointer;
}

#current-level {
	background-color: #55fa7b;
	border-radius: 2px;
}

.money-level-item {
	padding-left: 0.3em;
}